<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />
    <title>Admin</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">
          <h1>☕ Mahin Kahvikauppa</h1>
        </a>
      </div>
    </header>
    <ul class="admin-header" th:fragment="header">
      <li><a href="/tuotteet">Tuotteet</a></li>
      <li><a href="/valmistajat">Valmistajat</a></li>
      <li><a href="/toimittajat">Toimittajat</a></li>
      <li><a href="/osastot">Osastot</a></li>
      <li>
        <form th:action="@{/logout}" method="post">
          <input class="logoutbtn" type="submit" value="Kirijoitta ulos" />
        </form>
      </li>
    </ul>
  </body>
</html>
