<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
  </head>

  <body>
    <footer id="footer">
      <section class="footer-about-us">
        <h4>Mahin kahvikauppa</h4>
        <p><a href="#">Blogi</a></p>
        <p><a href="#">Yksityisyyssuoja</a></p>
        <p><a href="#">Tilaus ja palautusehdot</a></p>
      </section>
      <section class="footer-contact">
        <h4>Yhteystiedot</h4>
        <p>02200 Espoo</p>
        <p>0123456789</p>
        <p>moi@tmahinkahvikauppa.fi</p>
      </section>
      <section class="footer-icons">
        <h4 id="icons-h4">Tuhtaamista somessa</h4>
        <p>
          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </p>
        <p>
          <a href="#">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </p>
        <p>
          <a href="#">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </p>
        <p>
          <a href="#">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </p>
      </section>
      <p id="copyright">Copyright © 2024 Mahin Kahvikauppa.</p>
    </footer>
  </body>
</html>
