<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />
    <title>Admin</title>
  </head>

  <body>
    <header th:replace="~{fragments/main-header :: header}">main header</header>
    <div th:replace="fragments/admin-header :: header">admin header</div>
  </body>
</html>
