<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <title>Kahvi Kauppa</title>
  </head>

  <body>
    <nav>
      <div class="logo">
        <h1>Etusivu ☕</h1>
      </div>

      <ul>
        <li>
          <a href="">Kahvilaitteet</a>
          <ul class="menu">
            <li>
              <a href="">Espressolaitteet</a>
            </li>
            <li>
              <a href="">Suodatinkahvi</a>
            </li>
            <li>
              <a href="">Kahvimyllyt</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul>
        <li>
          <a href="">Kulutustuotteet</a>
          <ul class="menu">
            <li>
              <a href="">Kahvi</a>
              <ul class="menu">
                <li>
                  <a href="">Espressot</a>
                </li>
                <li>
                  <a href="">Suodatinkahvit</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Suodattimet</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </body>
</html>
