<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <link rel="stylesheet" th:href="@{/styles/tuote.css}" />
    <script
      src="https://kit.fontawesome.com/ea8f009169.js"
      crossorigin="anonymous"></script>
    <title th:text="${osasto} ? ${osasto.nimi} : 'Kaikki Tuotteet'">
      Osasto Nimi
    </title>
  </head>
  <body>
    <header th:replace="~{fragments/main-header :: header}">main header</header>

    <h2
      class="osasto-nimi"
      th:text="${osasto} ? ${osasto.nimi} : 'Kaikki Tuotteet'">
      Osasto Nimi
    </h2>

    <section>
      <div class="tuote-item" th:each="tuote : ${tuotteet}">
        <div class="tuote-item-image">
          <img
            th:src="@{/images/{filename}(filename=${tuote.kuva})}"
            id="preview"
            alt="tuoten kuva"
            width="120px"
            height="120px" />
        </div>
        <p class="tuote-item-nimi" th:text="${tuote.nimi}">tuoten nimi</p>
        <p class="tuote-item-kuvaus" th:text="${tuote.kuvaus}">tuoten kuvaus</p>
        <p class="tuote-item-hinta" th:text="${tuote.hinta} + ' €'">
          tuoten hinta
        </p>
      </div>
    </section>
  </body>
</html>
