<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />
    <style>
      span {
        display: inline-block;
        width: 8rem;
      }
    </style>

    <title>Osastot</title>
  </head>
  <body>
    <h1>Osastot</h1>
    <div th:replace="fragments/admin-header :: header">admin header</div>

    <h2>Nykyiset osastot</h2>
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th scope="col">Osaston id</th>
          <th scope="col">Osaston nimi</th>
          <th scope="col">OsastonIDP</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="osasto : ${osastot}">
          <td th:text="${osasto.id}">osaston id</td>
          <td th:text="${osasto.nimi}">osaston nimi</td>
          <td th:text="${osasto.osastoID}">osaston osastonID</td>
          <td>
            <a th:href="@{/osasto/{id}(id=${osasto.id})}">
              <button>Muokka</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Lisää uusi osasto</h2>
    <form th:action="@{/osastot}" method="POST">
      <label for="nimi">Nimi: </label>
      <input type="text" name="nimi" id="nimi" /><br />
      <label for="osastoID">Osasto ID: </label>
      <input type="text" name="osastoID" id="osastoID" /><br />
      <input type="submit" value="Lisää" />
    </form>
  </body>
</html>
