<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin.css}" />

    <title>Poista Valmistaja</title>
  </head>
  <body>
    <div th:replace="fragments/admin-header :: header">admin header</div>
    <div class="View">
      <h3>Poista Valmistaja</h3>
      <form
        th:action="@{/poista-valmistaja/{id}(id=${valmistaja.id})}"
        method="POST"
        enctype="multipart/form-data">
        <span th:text="${valmistaja.nimi}">valmistaja nimi</span>
        poistettaisiin. Oletko varma?
        <a href="/valmistajat"><button type="button">Peru</button></a>
        <button type="submit" class="poisa">Poista</button>
      </form>
    </div>
  </body>
</html>
