main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.osasto-nimi {
  padding: 1rem 0;
}

.tuote-left {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.tuote-right {
  width: 320px;
  height: 320px;
  padding: 1rem;
}

.tuote-kuvaus {
  font-size: 0.8rem;
  color: #999;
  height: 100px;
  margin-bottom: 1rem;
}

.tuote-hinta {
  font-size: 2rem;
  font-weight: bold;
}
