.logo {
  padding: 1rem;
}

.menu {
  position: absolute;
  margin-left: 9.8rem;
  margin-top: -2rem;
  display: none;
}

.main-header {
  background: white;
}

nav {
  background-color: #eee;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  border-bottom: 2px solid transparent;
  transition: 300ms;
}

nav li a {
  padding: 0 2rem;
  line-height: 2rem;
}

nav li:hover {
  border-bottom: 2px solid red;
}
